<html>
<body>
<p style="text-align: center;">&nbsp; &nbsp; &nbsp; Highest Scoring Candidate &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</p>
<form action="/averre" method="GET">
<p style="text-align: center;"><button type="submit"style width=150px>First round average</button></p>
</form>

<form action="/secondav" method="Get">
    <p style="text-align: center;"><button type="submit"style width=150px>Second round average</button></p>

</form>
<form action="/thirdav" method="Get">
    <p style="text-align: center;"><button type="submit"style width=150px>Third round average</button></p>

</form>
<form action="/firsthigh" method="Get">
    <p style="text-align: center;"><button type="submit"style width=150px>First round highest scorer</button></p>

</form>
<form action="/secondhigh" method="Get">
    <p style="text-align: center;"><button type="submit"style width=150px>Second round highest scorer</button></p>

</form>
<form action="/thirdhigh" method="Get">
    <p style="text-align: center;"><button type="submit"style width=150px> Third round highest scorer</button></p>

</form>



</body>
</html>