<html>
<body>
<p style="text-align: center;">Candidate Details</p>
<form action="/result" method="POST">
<p>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <input maxlength="20" name="name" required="" type="text" /></p>
<p>Email Address &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input maxlength="30" name="email" required="" type="text" /></p>
<p>First Round Score &nbsp; &nbsp; &nbsp;&nbsp; <input max="10" name="First" required="" type="number" /></p>
<p>Second Round Score &nbsp; <input max="10" name="Second" required="" type="number" /></p>
<p>Third Round Score&nbsp;&nbsp; &nbsp;&nbsp; <input max="10" name="Third" required="" type="number" /></p>
<p style="text-align: center;"><button type="submit"style width=150px>Send</button></p>
</form>
</body>
</html>
